<!DOCTYPE html>
<html>
  <head>
    <title>{{ author }}</title>
    <meta http-equiv="Content-Type" content="text/html; Charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
  </head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='sliderswitch.css') }}">
    <script type="text/javascript">
        (function getdtc(){
            $.ajax({
                type: "GET",
                url:"{{url_for('datetime_content')}}",
                cache: "false",
                success: 
                function (valuedt) {
                    $("#values").html(valuedt);
                }   
            })
        setTimeout(getdtc, 10000);
        })();
    </script>
<body id="body">
  <header>
      <div class="container">
        <div class="head__design">
            <h1>WebSCADA</h1>
        <div class=loginout>
          {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">Вход</a>
          {% else %}
            <a href="{{ url_for('logout') }}">Выход</a>
          {% endif %}
        </div>
        <div class=datetime>
           <span id="values"></span>
        </div>
        </div>
      </div>
    </header>
<div class="page">
  <div class="container">
    {% block body %}{% endblock %}
  </div>
</div>
<footer></footer>
</body>
</html>